extends ../layout

script(type='text/javascript')

block content
	h1.
		Event ID #{event._id}
	form(action='/events/#{event._id}/edit',method='POST',name='updateevent',enctype='multipart/form-data')
		p Title:
			input#inputTitle(type='text', value='#{event.title}', name='title')
		p Caption:
			input#inputCaption(type='text', value='#{event.caption}', name='caption')
		p Info:
			input#inputInfo(type='text', value='#{event.info}', name='info')
		p Image:
			img#image(alt='Event Image', src="data:#{event.imageType};base64,#{event.image}")
		p
			input#inputImage(type='file', name="image", accept='image/jpeg,image/gif,image/png,image/bmp,image/tiff')
		p
			input(type='hidden',value='PUT',name='_method')
		p
			button#btnSubmit(type='submit', class="btn btn-success") Update
			&nbsp;
			a(href="javascript:history.back()", class="btn btn-primary") Back	
