extends ../layout
block content
    h1.
        #{event.title}
    p Caption: #{event.caption}
    p Info: #{event.info}
    p Image:
      img(alt='Event Image', src="data:#{event.imageType};base64,#{event.image}")
